.info-coach-container {
  width: 511px;
  height: 782px;
  padding: 36px;

  .info-button-container {
    position: absolute;
    top: 35px;
    right: 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
  }

  .accept-button {
    display: block;
    margin: 43px auto;
  }


}
