<backdrop (onClickOnBackdrop)="closePopup.emit()"></backdrop>

@if(!isShowDeleteCoachPopup() && !isShowEditCoachPopup()) {
  <div class="popup info-coach-container">
    <span class="popup-title">{{ VISITORS_POPUP_LOCALIZATION.INFO_TITLE }}</span>

    <span class=" info-button-container">
    <span>
      <img ngSrc="/assets/card/pencil.svg" alt="pencil" height="19" width="19"
           style="cursor: pointer" (click)="isShowEditCoachPopup.set(true)">
    </span>
    <span>
      <img ngSrc="/assets/card/delete.svg" alt="pencil" height="24" width="24"
           style="cursor: pointer" (click)="isShowDeleteCoachPopup.set(true)">
    </span>
  </span>

    <div class="popup-avatar-container" [style.background-image]="'url(' + coach?.avatar + ')'"></div>

    <div class="info-full-name">{{ coach?.fullName }}</div>

    <div class="info-sport">{{ coach?.category }}</div>

    <div class="info-container">
      <div class="info-label">{{ GLOBAL_LOCALIZATION.FORM_BIRTHDATE_LABEL }}</div>
      <div class="info-text">{{ getBirthdate() }}</div>
    </div>

    <div class="info-container">
      <div class="info-label">{{ GLOBAL_LOCALIZATION.FORM_GENDER_LABEL }}</div>
      <div class="info-text">{{ coach?.gender }}</div>
    </div>

    <div class="info-container">
      <div class="info-label">{{ GLOBAL_LOCALIZATION.COACH_TITLE }}</div>
      <div class="info-text">{{ coach?.visitor ? coach?.visitor : '-' }}</div>
    </div>

    <button class="accept-button" (click)="closePopup.emit()">{{ BUTTON_LABEL_LOCALIZATION.BUTTON_OK_LABEL }}</button>

  </div>
}

@if (isShowEditCoachPopup()) {
  <edit-coach-popup [coach]="coach" (closePopup)="isShowEditCoachPopup.set(false)"></edit-coach-popup>
}

@if (isShowDeleteCoachPopup()) {
  <delete-coach-popup [coach]="coach" (closePopup)="isShowDeleteCoachPopup.set(false)"></delete-coach-popup>
}
