<backdrop (onClickOnBackdrop)="closePopup.emit()"></backdrop>

<div class="edit-user-container popup">

  <span class="popup-title">{{ EDIT_USER_POPUP_LOCALIZATION.TITLE }}</span>

  <span class="close-label" (click)="closePopup.emit()">
    <img ngSrc="/assets/card/close-icon.svg" alt="close" height="16" width="16">
  </span>

  <form [formGroup]="editUserForm" (submit)="onSubmit()" class="form-container">

    @if (!editUserForm.value.avatar) {
      <div class="popup-avatar-container">
        <input type="file" value="null" class="upload-file" accept="image/png, image/jpeg, image/img"
               (change)="onFileSelect($event)">
        <img ngSrc="/assets/home/add_a_photo.svg" priority="1" alt="create_photo" height="61" width="61">
      </div>

    } @else {
      <div class="popup-avatar-container" [style.background-image]="'url(' + editUserForm.value.avatar + ')'">
        <input type="file" value="null" class="upload-file" accept="image/png, image/jpeg, image/img"
               (change)="onFileSelect($event)">
      </div>
    }


    <span class="error-container">
        <input type="text" [placeholder]="GLOBAL_LOCALIZATION.FORM_LOGIN_LABEL" formControlName="login"
               [ngClass]="isControlInvalid('login') ? 'invalid' : undefined"/>

      @if (!isFormValid()) {
        <span class="error">
                {{ GLOBAL_LOCALIZATION.VALIDATOR_LOGIN_ERROR_TEXT }}
            </span>
      } @else if (isControlInvalid('login')) {
        <span class="error">
                {{ GLOBAL_LOCALIZATION.LOGIN_ERROR_TEXT }}
            </span>
      }

      </span>

    <span class="error-container">

        <input type="text" [placeholder]="GLOBAL_LOCALIZATION.FORM_NAME_LABEL" formControlName="name"
               [ngClass]="isControlInvalid('name') ? 'invalid' : undefined"/>

      @if (isControlInvalid('name')) {
        <span class="error">
          {{ GLOBAL_LOCALIZATION.NAME_ERROR_TEXT }}
        </span>
      }
      </span>

    <span class="error-container">

        <input type="text" [placeholder]="GLOBAL_LOCALIZATION.FORM_NAME_LABEL" formControlName="surname"
               [ngClass]="isControlInvalid('surname') ? 'invalid' : undefined"/>

      @if (isControlInvalid('surname')) {
        <span class="error">
          {{ GLOBAL_LOCALIZATION.SURNAME_ERROR_TEXT }}
        </span>
      }
      </span>

    <button class="accept-button" type="submit">{{ BUTTON_LABEL_LOCALIZATION.BUTTON_OK_LABEL }}</button>

  </form>


</div>
