<div class="card" >

  <div class="card-info" (click)="isShowInfoVisitorPopup.set(true)">
    <div class="card-info-avatar" [style.background-image]="'url(' + visitor?.avatar + ')'"></div>

    <div class="card-info-text">
      <span>{{ visitor?.fullName }}</span>
      <span class="card-info-age">{{ setLabel() }}</span>
    </div>
  </div>

  <div class="card-menu-select">
    <img ngSrc="/assets/card/more.svg" alt="more" height="24" width="12"
         (click)="isShowMenuItem.set(!isShowMenuItem())">

    @if (isShowMenuItem()) {
      <div class="card-menu-item-container">

        <div class="card-menu-item" (click)="isShowMenuItem.set(false); isShowEditVisitorPopup.set(true)">
          {{ CARD_ITEM_LOCALIZATION.ASSIGN_COACH }}
        </div>

        <div class="card-menu-item" (click)="isShowMenuItem.set(false); isShowEditVisitorPopup.set(true)">
          {{ CARD_ITEM_LOCALIZATION.EDIT }}
        </div>

        <div class="card-menu-item" (click)="isShowMenuItem.set(false); isShowDeleteVisitorPopup.set(true)">
          {{ CARD_ITEM_LOCALIZATION.DELETE }}
        </div>

      </div>
    }

  </div>
</div>


@if (isShowMenuItem()) {
  <div class="backdrop-light" (click)="isShowMenuItem.set(false)"></div>
}

@if (isShowEditVisitorPopup()) {
  <edit-visitor-popup [visitor]="visitor" (closePopup)="isShowEditVisitorPopup.set(false)"></edit-visitor-popup>
}

@if (isShowDeleteVisitorPopup()) {
  <delete-visitor-popup [visitor]="visitor" (closePopup)="isShowDeleteVisitorPopup.set(false)"></delete-visitor-popup>
}

@if (isShowInfoVisitorPopup()) {
  <info-visitor-popup [visitor]="visitor" (closePopup)="isShowInfoVisitorPopup.set(false)"></info-visitor-popup>
}
