<backdrop (onClickOnBackdrop)="closePopup.emit()"></backdrop>

<div class="delete-container popup">
  <span class="popup-title">{{ VISITORS_POPUP_LOCALIZATION.DELETE_TITLE }}</span>

  <span class="close-label" (click)="closePopup.emit()">
    <img ngSrc="/assets/card/close-icon.svg" alt="close" height="16" width="16" >
  </span>
  <div class="popup-avatar-container" [style.background-image]="'url(' + visitor?.avatar + ')'"></div>

  <div class="info-full-name">{{ visitor?.fullName }}</div>

  <div class="info-sport">{{ visitor?.sport }}</div>

  <div class="accept-question">{{ VISITORS_POPUP_LOCALIZATION.DELETE_QUESTION }}</div>

  <button class="accept-button" (click)="onDeleteVisitor()">{{ BUTTON_LABEL_LOCALIZATION.BUTTON_OK_LABEL }}</button>


</div>
