.header-container {
  padding-top: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;


  .title {
    margin-left: 20px;
    color: #FFF;
    width: 115px;
    font-family: Roboto, sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
  }

  .search-container {
    margin-left: 86px;
    padding: 5px;
    width: 570px;
    border-radius: 10px;
    background: #3841DC;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    input {
      background: none;
      border: none;
      outline: none;
      width: 95%;
      color: white;

      &::placeholder {
        color: #87AFEB;

        font-family: Roboto, sans-serif;
        font-size: 10px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px; /* 240% */
        text-transform: capitalize;
      }
    }
  }

  .exit-button {
    margin-left: 38px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 17px;
    border: 1px solid #4158F6;
    border-radius: 10px;
    padding: 6px;

    &:hover{
      cursor: pointer;
      border: 1px solid white;
    }

    span {
      color: #FFF;
      font-family: Roboto, sans-serif;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: 24px;
    }
  }

}
