<div class="header-container">

  <img ngSrc="/assets/header/menu.svg" alt="hamburger" height="24" width="24">
  <span class="title">{{HEADER_LOCALIZATION.TITLE}}</span>

  <div class="search-container">
    <img ngSrc="/assets/header/search.svg" alt="search" height="21" width="21">
    <input type="text" [placeholder]="HEADER_LOCALIZATION.SEARCH_PLACEHOLDER"/>
  </div>

  <div class="exit-button" (click)="exitButton()">
    <img ngSrc="assets/header/exit.svg" height="18" width="20" alt="exit">
    <span>{{HEADER_LOCALIZATION.EXIT_TEXT}}</span>
  </div>

</div>
