.signup {
  background-image: url("/assets/signin/background.png");
  width: 1024px;
  height: 737px;
  margin: 0 auto;
  padding-top: 61px;

  .signup-container {
    margin: 0 auto;
    padding: 70px 0 23px 0;
    width: 493px;
    border-radius: 12px;
    background: #FFF;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;

    .account-text {
      margin-top: 16px;
      color: #4158F6;
      font-family: Roboto, sans-serif;
      font-size: 14px;
      font-style: normal;
      font-weight: 700;
      line-height: 111.687%; /* 15.636px */
      text-transform: uppercase;
    }

    .resort-text {
      color: #000;
      font-family: Roboto, sans-serif;
      font-size: 18px;
      font-style: normal;
      font-weight: 700;
      line-height: 111.687%;
      text-transform: uppercase;
      margin-bottom: 55px;
    }


    .images-container {
      margin-top: 35px;
    }

    .back-button {
      margin-top: 20px;
      color: #030303;
      text-align: center;
      font-family: Roboto, sans-serif;
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      text-decoration-line: underline;

      &:hover {
        cursor: pointer;
        color: rgba(3, 3, 3, 0.64);
      }
    }
  }

  .copyright {
    margin-top: 23px;
    text-align: center;
    color: #000;
    font-family: Roboto, sans-serif;
    font-size: 9px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
  }

}

