<div class="signup">

  <div class="signup-container">

    <img ngSrc="/assets/signin/head.png" alt="head" height="69" width="77">

    <span class="account-text">{{ SIGNUP_LOCALIZATION.ACCOUNT }}</span>
    <span class="resort-text">{{ SIGNUP_LOCALIZATION.RESORT }}</span>


    <form [formGroup]="signupForm" (submit)="onSubmit()" class="form-container">

      <span class="error-container">
        <input type="text" [placeholder]="GLOBAL_LOCALIZATION.FORM_LOGIN_LABEL" formControlName="login"
               [ngClass]="isControlInvalid('login') ? 'invalid' : undefined"/>


        @if (!isDataValid()) {
          <span class="error">
                {{ GLOBAL_LOCALIZATION.VALIDATOR_LOGIN_ERROR_TEXT }}
            </span>
        } @else if (isControlInvalid('login')) {
            <span class="error">
                {{ GLOBAL_LOCALIZATION.LOGIN_ERROR_TEXT }}
            </span>
        }
      </span>

      <span class="error-container">
        <input type="text" [placeholder]="GLOBAL_LOCALIZATION.FORM_NAME_LABEL" formControlName="name"
               [ngClass]="isControlInvalid('name') ? 'invalid' : undefined"/>

        @if (isControlInvalid('name')) {
          <span class="error">
          {{ GLOBAL_LOCALIZATION.NAME_ERROR_TEXT }}
        </span>
        }
      </span>

      <span class="error-container">
        <input type="text" [placeholder]="GLOBAL_LOCALIZATION.FORM_SURNAME_LABEL" formControlName="surname"
               [ngClass]="isControlInvalid('surname') ? 'invalid' : undefined"/>

        @if (isControlInvalid('surname')) {
          <span class="error">
          {{ GLOBAL_LOCALIZATION.SURNAME_ERROR_TEXT }}
        </span>
        }
      </span>

      <span class="error-container">
        <input type="password" [placeholder]="GLOBAL_LOCALIZATION.FORM_PASSWORD_LABEL" formControlName="password"
               [ngClass]="isControlInvalid('password') ? 'invalid' : undefined"/>

        @if (isControlInvalid('password')) {
          <span class="error">
          {{ GLOBAL_LOCALIZATION.PASSWORD_ERROR_TEXT }}
        </span>
        }
      </span>

      <button class="accept-button" type="submit">{{ SIGNUP_LOCALIZATION.SIGNUP_BUTTON_LABEL }}</button>

    </form>

    <div class="back-button" [routerLink]="['/login']">{{ SIGNUP_LOCALIZATION.BACK }}</div>

  </div>



  <div class="copyright">{{ SIGNUP_LOCALIZATION.COPYRIGHT }}</div>


</div>
