<backdrop (onClickOnBackdrop)="closePopup.emit()"></backdrop>

<div class="edit-visitor-container popup">

  <p class="popup-title">{{ isCreateVisitor ? VISITORS_POPUP_LOCALIZATION.CREATE_TITLE : VISITORS_POPUP_LOCALIZATION.EDIT_TITLE }}</p>

  <span class="close-label" (click)="closePopup.emit()">
    <img ngSrc="/assets/card/close-icon.svg" alt="close" height="16" width="16">
  </span>

  <form [formGroup]="editVisitorForm" (submit)="onSubmit()" class="form-container">

    @if (!editVisitorForm.value.avatar) {
      <div class="popup-avatar-container">
        <input type="file" value="null" class="upload-file" accept="image/png, image/jpeg, image/img"
               (change)="onFileSelect($event)">
        <img ngSrc="/assets/home/add_a_photo.svg" priority="1" alt="create_photo" height="61" width="61">
      </div>

    } @else {
      <div class="popup-avatar-container" [style.background-image]="'url(' + editVisitorForm.value.avatar + ')'">
        <input type="file" value="null" class="upload-file" accept="image/png, image/jpeg, image/img"
               (change)="onFileSelect($event)">
      </div>
    }


    <span class="error-container">
        <input type="text" [placeholder]="GLOBAL_LOCALIZATION.FORM_FULL_NAME_LABEL" formControlName="fullName"
               [ngClass]="isControlInvalid('fullName') ? 'invalid' : undefined"/>

      @if (isControlInvalid('fullName')) {
        <span class="error">
          {{ GLOBAL_LOCALIZATION.FULL_NAME_ERROR_TEXT }}
        </span>
      }

      </span>

    <span class="error-container">

        <input type="date" [placeholder]="GLOBAL_LOCALIZATION.FORM_BIRTHDATE_LABEL" formControlName="birthDate"
               [ngClass]="isControlInvalid('birthDate') ? 'invalid' : undefined"/>

      @if (isControlInvalid('birthDate')) {
        <span class="error">
          {{ GLOBAL_LOCALIZATION.BIRTHDATE_ERROR_TEXT }}
        </span>
      }
      </span>

    <span class="error-container">

        <input type="text" [placeholder]="GLOBAL_LOCALIZATION.FORM_SKI_PASS_LABEL" formControlName="skiPassNumber"
               [readonly]="!isCreateVisitor"
               [ngClass]="isControlInvalid('skiPassNumber') ? 'invalid' : undefined"/>

      @if (!isFormValid()) {
        <span class="error">
                {{ GLOBAL_LOCALIZATION.VALIDATOR_SKI_PASS_ERROR_TEXT }}
            </span>
      } @else if (isControlInvalid('skiPassNumber')) {
        <span class="error">
                {{ GLOBAL_LOCALIZATION.SKI_PASS_ERROR_TEXT }}
            </span>
      }

      </span>

    <span class="error-container">

        <input type="text" [placeholder]="GLOBAL_LOCALIZATION.FORM_COACH_LABEL" formControlName="coach"
               [ngClass]="isControlInvalid('coach') ? 'invalid' : undefined"/>
    </span>

    <span class="error-container">

        <input type="text" [placeholder]="GLOBAL_LOCALIZATION.FORM_SPORT_LABEL" formControlName="sport"
               [ngClass]="isControlInvalid('sport') ? 'invalid' : undefined"/>

      @if (isControlInvalid('sport')) {
        <span class="error">
          {{ GLOBAL_LOCALIZATION.SPORT_ERROR_TEXT }}
        </span>
      }
      </span>

    <button class="accept-button" type="submit">{{ isCreateVisitor ? BUTTON_LABEL_LOCALIZATION.BUTTON_ADD_LABEL
      : BUTTON_LABEL_LOCALIZATION.BUTTON_UPDATE_LABEL}}</button>

  </form>


</div>
