<div class="short-table">

  <div class="add-button-container">

    <span class="title">{{TITLE}}</span>
    <span class="add-button" (click)="isShowCreateCoachPopup.set(true)">
    <img ngSrc="assets/card/add.svg" alt="+" height="24" width="24">
      {{BUTTON_LABEL_LOCALIZATION.BUTTON_ADD_NEW_LABEL}}
    </span>

  </div>

  <div class="chevron-label" (click)="isShowTable.set(!isShowTable())">
    @if(isShowTable()) {
      <img ngSrc="assets/card/chevron_up.svg" alt="down" height="8" width="12">
    } @else {
      <img ngSrc="assets/card/chevron_down.svg" alt="down" height="8" width="12">
    }
  </div>

  @if(isShowTable()) {
    <div class="short-table-items">
      @for (coach of coaches;track coach.id) {
        <div class="item">
          <coach-card [coach]="coach"></coach-card>
        </div>
      } @empty {
        <div class="title">{{ GLOBAL_LOCALIZATION.EMPTY_COACHES_TABLE }}</div>
      }
    </div>
  }

  @if (!isShowAllCoaches) {
    <div class="open-all-button" (click)="showAllVisitors.emit()">
      {{ BUTTON_LABEL_LOCALIZATION.BUTTON_ALL_LABEL }}
      <img style="margin-left: 9px" ngSrc="assets/card/shape.svg" alt="->" height="8" width="8">
    </div>
  }

</div>

@if (isShowCreateCoachPopup()) {
  <edit-coach-popup
    [isCreateCoach]="true"
    (closePopup)="isShowCreateCoachPopup.set(false)"
  ></edit-coach-popup>
}

