<backdrop (onClickOnBackdrop)="closePopup.emit()"></backdrop>

@if(!isShowDeleteVisitorPopup() && !isShowEditVisitorPopup()) {
  <div class="popup info-visitor-container">
    <span class="popup-title">{{ VISITORS_POPUP_LOCALIZATION.INFO_TITLE }}</span>

    <span class=" info-button-container">
    <span>
      <img ngSrc="/assets/card/pencil.svg" alt="pencil" height="19" width="19"
           style="cursor: pointer" (click)="isShowEditVisitorPopup.set(true)">
    </span>
    <span>
      <img ngSrc="/assets/card/delete.svg" alt="pencil" height="24" width="24"
           style="cursor: pointer" (click)="isShowDeleteVisitorPopup.set(true)">
    </span>
  </span>

    <div class="popup-avatar-container" [style.background-image]="'url(' + visitor?.avatar + ')'"></div>

    <div class="info-full-name">{{ visitor?.fullName }}</div>

    <div class="info-sport">{{ visitor?.sport }}</div>

    <div class="info-container">
      <div class="info-label">{{ GLOBAL_LOCALIZATION.FORM_BIRTHDATE_LABEL }}</div>
      <div class="info-text">{{ getBirthdate() }}</div>
    </div>

    <div class="info-container">
      <div class="info-label">{{ GLOBAL_LOCALIZATION.FORM_SKI_PASS_LABEL }}</div>
      <div class="info-text">{{ visitor?.skiPassNumber }}</div>
    </div>

    <div class="info-container">
      <div class="info-label">{{ GLOBAL_LOCALIZATION.COACH_TITLE }}</div>
      <div class="info-text">{{ visitor?.coach ? visitor?.coach : '-' }}</div>
    </div>

    <button class="accept-button" (click)="closePopup.emit()">{{ BUTTON_LABEL_LOCALIZATION.BUTTON_OK_LABEL }}</button>

  </div>
}

@if (isShowEditVisitorPopup()) {
    <edit-visitor-popup [visitor]="visitor" (closePopup)="isShowEditVisitorPopup.set(false)"></edit-visitor-popup>
}

@if (isShowDeleteVisitorPopup()) {
  <delete-visitor-popup [visitor]="visitor" (closePopup)="isShowDeleteVisitorPopup.set(false)"></delete-visitor-popup>
}
