<div class="wrapper">
  <div class="home-container">


    <header></header>

    <div class="body-container">

      <div class="navigation-menu">

        <div class="user-info">

          <div class="avatar-container">

            @if (user?.avatar) {
              <div class="create-avatar" [style.background-image]="'url(' + user?.avatar + ')'"></div>
            } @else {
              <div class="create-avatar">
                <img ngSrc="/assets/home/add_a_photo.svg" alt="avatar" height="40" width="40">
              </div>
            }
            <img ngSrc="/assets/home/edit.svg" alt="edit" height="20" width="20" class="edit-avatar"
                 (click)="isShowUserInfo.set(true)">

          </div>

          <span class="user-name-text">{{ user?.name }} {{ user?.surname }}</span>
          <span
            class="user-role-text">{{
              user?.role === 'User'
                ? HOME_LOCALIZATION.USER_ROLE_TEXT
                : HOME_LOCALIZATION.ADMIN_ROLE_TEXT
            }}
        </span>
        </div>

        <div class="navigator-item-container">
          @for (item of NAVIGATOR_MENU;track item.name) {

            <div class="navigator-item"  (click)="selectPage.set(item.label)"
                 [ngClass]="selectPage() === item.label ? 'selected-page' : undefined">

              <img [src]="item.link" alt="users"   class="link">
              <img [src]="item.hoverLink" alt="users"   class="hover-link">
              <span class="item-text">{{ item.name }}</span>
            </div>
          }
        </div>

      </div>

      <div class="card-container">

        @switch (selectPage()) {

          @case ('all') {
            <visitors-short-table (showAllVisitors)="selectPage.set('visitors')"></visitors-short-table>
            <coaches-short-table (showAllVisitors)="selectPage.set('coaches')"></coaches-short-table>
          }
          @case ('visitors') {
            <visitors-short-table [isShowAllVisitors]="true"></visitors-short-table>
          }
          @case ('coaches') {
            <coaches-short-table [isShowAllCoaches]="true"></coaches-short-table>
          }
          @case ('pass') {
            <h1>pass</h1>
          }

        }
      </div>

    </div>

  </div>
</div>

@if (isShowUserInfo()) {
  <edit-user-popup (closePopup)="isShowUserInfo.set(false)"></edit-user-popup>
}
