.wrapper {
  height: 275px;
  background-color: #4158F6;
  flex-shrink: 0;

  .home-container {
    padding: 0 50px;
    border: 1px solid black;

    max-width: 1024px;
    height: 1800px;
    margin: 0 auto;

    .body-container {
      display: flex;
      align-items: start;
      justify-content: start;

      .navigation-menu {
        width: 236px;
        display: flex;
        justify-content: center;
        align-items: start;
        flex-direction: column;

        .user-info {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          margin-left: 40px;

          .avatar-container {
            position: relative;
            margin-top: 77px;

            .create-avatar {
              background: #F3F3F3 no-repeat center center;
              background-size: 130%;
              display: flex;
              justify-content: center;
              align-items: center;
              width: 64px;
              height: 64px;
              border-radius: 100%;
            }

            .edit-avatar {
              position: absolute;
              bottom: 2px;
              right: -4px;

              &:hover {
                cursor: pointer;
              }
            }
          }

          .user-name-text {
            margin-top: 10px;
            color: #FFF;
            text-align: center;
            font-family: Roboto, sans-serif;
            font-size: 15px;
            font-style: normal;
            font-weight: 500;
            line-height: 138.188%;
          }

          .user-role-text {
            color: #707EF9;

            font-family: Roboto, sans-serif;
            font-size: 10px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px; /* 240% */
            text-transform: capitalize;
          }
        }

        .navigator-item-container {
          margin-top: 48px;

          .selected-page {
            .hover-link {
              display: block !important;
            }

            .link {
              display: none !important;
            }

            .item-text {
              color: #4158F6 !important;
            }
          }

          .navigator-item {
            margin-top: 24px;
            display: flex;
            justify-content: flex-start;
            align-items: center;

            .hover-link {
              display: none;
            }

            &:hover {
              cursor: pointer;

              .hover-link {
                display: block;
              }

              .link {
                display: none;
              }

              .item-text {
                color: #4158F6;
              }
            }

            .item-text {
              margin-left: 33px;
              color: #A5AAAD;
              font-family: Roboto, sans-serif;
              font-size: 14px;
              font-style: normal;
              font-weight: 500;
              line-height: 24px;


            }
          }
        }
      }
    }

  }

}

