<div class="signin">


  <div class="signin-container">

    <img ngSrc="/assets/signin/head.png" alt="head" height="69" width="77">

    <span class="account-text">{{ SIGNIN_LOCALIZATION.ACCOUNT }}</span>
    <span class="resort-text">{{ SIGNIN_LOCALIZATION.RESORT }}</span>


    <form [formGroup]="signInForm" (submit)="onSubmit()" class="form-container">

      <span class="error-container">
        <input type="text" [placeholder]="GLOBAL_LOCALIZATION.FORM_LOGIN_LABEL" formControlName="login"
               [ngClass]="isControlInvalid('login') ? 'invalid' : undefined"/>

        @if (!isDataValid()) {
            <span class="error">
                {{ SIGNIN_LOCALIZATION.ERROR }}
            </span>
        } @else if (isControlInvalid('login')) {
            <span class="error">
                {{ GLOBAL_LOCALIZATION.LOGIN_ERROR_TEXT }}
            </span>
        }

      </span>

      <span class="error-container">

        <input type="password" [placeholder]="GLOBAL_LOCALIZATION.FORM_PASSWORD_LABEL" formControlName="password"
               [ngClass]="isControlInvalid('password') ? 'invalid' : undefined"/>

        @if (isControlInvalid('password')) {
          <span class="error">
          {{ GLOBAL_LOCALIZATION.PASSWORD_ERROR_TEXT }}
        </span>
        }
      </span>

      <button class="accept-button" type="submit">{{ SIGNIN_LOCALIZATION.SIGNIN_BUTTON_LABEL }}</button>

    </form>

    <div class="images-container">
      <img ngSrc="/assets/signin/icons.png" alt="icons" height="45" width="161">
    </div>

    <div class="signup-button" [routerLink]="['/registration']">{{ SIGNIN_LOCALIZATION.REGISTRATION }}</div>


  </div>

  <div class="copyright" >{{ SIGNIN_LOCALIZATION.COPYRIGHT }}</div>

</div>
