<div class="card" >

  <div class="card-info" (click)="isShowInfoCoachPopup.set(true)">
    <div class="card-info-avatar" [style.background-image]="'url(' + coach?.avatar + ')'"></div>

    <div class="card-info-text">
      <span>{{ coach?.fullName }}</span>
      <span class="card-info-age">{{ coach?.category }}</span>
    </div>
  </div>

  <div class="card-menu-select">
    <img ngSrc="/assets/card/more.svg" alt="more" height="24" width="12"
         (click)="isShowMenuItem.set(!isShowMenuItem())">

    @if (isShowMenuItem()) {
      <div class="card-menu-item-container">

        <div class="card-menu-item" (click)="isShowMenuItem.set(false); isShowEditCoachPopup.set(true)">
          {{ CARD_ITEM_LOCALIZATION.ASSIGN_VISITOR }}
        </div>

        <div class="card-menu-item" (click)="isShowMenuItem.set(false); isShowEditCoachPopup.set(true)">
          {{ CARD_ITEM_LOCALIZATION.EDIT }}
        </div>

        <div class="card-menu-item" (click)="isShowMenuItem.set(false); isShowDeleteCoachPopup.set(true)">
          {{ CARD_ITEM_LOCALIZATION.DELETE }}
        </div>

      </div>
    }

  </div>
</div>


@if (isShowMenuItem()) {
  <div class="backdrop-light" (click)="isShowMenuItem.set(false)"></div>
}

@if (isShowEditCoachPopup()) {
  <edit-coach-popup [coach]="coach" (closePopup)="isShowEditCoachPopup.set(false)"></edit-coach-popup>
}

@if (isShowDeleteCoachPopup()) {
  <delete-coach-popup [coach]="coach" (closePopup)="isShowDeleteCoachPopup.set(false)"></delete-coach-popup>
}
@if (isShowInfoCoachPopup()) {
  <info-coach-popup [coach]="coach" (closePopup)="isShowInfoCoachPopup.set(false)"></info-coach-popup>
}
