.card {
  background: white;
  width: 280px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  color: rgba(0, 0, 0, 0.87);
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  padding: 10px;

  &:hover {
    cursor: pointer;
    background-color:  #E8EDF1;
    border-radius: 15px;
  }



  .card-info {
    display: flex;
    position: relative;
    width: 220px;
    justify-content: start;
    align-items: center;

    .card-info-avatar {
      background: #F3F3F3 no-repeat center center;
      background-size: 130%;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 40px;
      height: 40px;
      border-radius: 100%;
    }

    .card-info-text {
      margin-left: 15px;
      display: flex;
      justify-content: left;
      align-items: flex-start;
      flex-direction: column;

      .card-info-age {
        color: rgba(0, 0, 0, 0.54);
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
      }
    }
  }

  .card-menu-select {
    position: relative;

    &:hover{
      cursor: pointer;
    }

    .card-menu-item-container {
      z-index: 16;
      width: 190px;
      padding: 5px 0;
      border-radius: 8px;
      border: 1px solid #E7E7E7;
      background: #FFF;
      box-shadow: 0 3px 10px 4px rgba(147, 166, 194, 0.20);
      position: absolute;
      right: 0;
      top: 25px;

      .card-menu-item {
        padding: 5px 15px;

        &:hover {
          background: #ccc;
          cursor: pointer;
        }

      }
    }
  }
}

.backdrop-light {
  position: fixed;
  z-index: 15;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(1, 7, 18, 0);
}
