/* You can add global styles to this file, and also import other style files */

body {
  margin: 0;
  padding: 0;
  background-color: #E8EDF1;
}

* {
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
}

*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background-color: #A5AAAD;
  border-radius: 4px;
}

*::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background: white;
}

.error-container {
  position: relative;

  .error {
    position: absolute;
    bottom: -11px;
    left: 5px;
    font-size: 10px;
    color: darkred;
  }
}

.accept-button {
  margin-top: 30px;
  width: 169px;
  height: 46px;
  border-radius: 21px;
  border: 1px solid #4158F6;
  background: #4158F6;

  color: #FFF;

  text-align: center;
  font-family: Roboto, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;

  &:hover {
    cursor: pointer;
    background: #324bf5;
  }
}

.open-all-button {
  color: #4158F6;
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  position: absolute;
  bottom: 17px;
  right: 17px;
  display: flex;
  justify-content: left;
  align-items: center;

  &:hover {
    cursor: pointer;
  }
}

.short-table {
  margin-top: 37px;

  width: 687px;
  flex-shrink: 0;
  border-radius: 12px;
  background: #FFF;

  padding: 32px 32px 55px 55px;

  position: relative;

  .title {
    color: #212121;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  .short-table-items {
    margin-top: 36px;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 1px;
    flex-wrap: wrap;
  }

  .chevron-label {
    position: absolute;
    top: 35px;
    right: 35px;
    display: block;

    &:hover{
      cursor: pointer;
    }
  }

  .add-button-container {
    display: flex;
    justify-content: left;
    align-items: center;

    .add-button {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-left: 30px;
      width: 154px;
      padding: 5px 8px;
      border-radius: 8px;
      border: 1px solid #4158F6;
      color: #4158F6;

      text-align: center;
      font-size: 12px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;

      &:hover {
        cursor: pointer;
        border: 1px solid #001291;
        color: #001291;
      }
    }
  }
}


.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 12px;

  input {
    width: 359px;
    border-radius: 10px;
    background: #F3F3F3;
    outline: none;
    border: white 2px solid;
    padding: 14px;

    &::placeholder {
      color: #D3D3D3;

      font-family: Roboto, sans-serif;
      font-size: 10px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px; /* 240% */
    }
  }

  .invalid {
    border: darkred 2px solid;
  }
}

.popup {
  box-sizing: border-box;
  border-radius: 12px;
  background: #FFF;
  z-index: 16;
  flex-shrink: 0;
  padding: 17px 38px;
  position: fixed;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  .popup-title {
    color: #212121;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  .close-label {
    position: absolute;
    right: 35px;
    top: 35px;
    cursor: pointer;
  }

  .popup-avatar-container {
    margin: 45px auto 34px auto;
    width: 173px;
    height: 173px;
    background: #F3F3F3 no-repeat center center;
    background-size: 130%;
    border-radius: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    .upload-file {
      z-index: 17;
      cursor: pointer;
      opacity: 0;
      width: 100%;
      height: 100%;
      border-radius: 100%;

    }

    img {
      position: absolute;
      margin: 0 auto;
      user-select: none;
    }
  }
}

.info-full-name {
  color: #212121;
  text-align: center;
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: 138.188%;
}

.info-sport {
  color: #707EF9;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.info-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 40px;

  .info-label {
    color: rgba(160, 160, 160, 0.54);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 200% */
    text-transform: uppercase;
  }

  .info-text {
    color: rgba(0, 0, 0, 0.87);
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
}

.delete-container {
  width: 511px;
  height: 579px;
  padding: 35px;

  .accept-question {
    width: 331px;
    margin: 44px auto 0 auto;
    color: rgba(0, 0, 0, 0.87);
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .accept-button{
    display: block;
    margin: 30px auto ;
  }
}



